<div class="min-h-screen">
    <mat-tab-group class="bg-white">
        <mat-tab label="Orders">
            <app-admin-order></app-admin-order>
        </mat-tab>

        <mat-tab label="Books">
            <app-admin-book></app-admin-book>
        </mat-tab>
        <mat-tab label="Delivery methods">
            <app-admin-delivery-method></app-admin-delivery-method>
        </mat-tab>
        <mat-tab label="Users">
            <app-admin-users></app-admin-users>
        </mat-tab>
    </mat-tab-group>
</div>
